.body{
	margin:0;
}
.intro{
	margin:0 auto;
	/*top:0;
	left:0;
	right:0;*/
	font-family:'Montserrat',sans-serif;
	font-size:15px;
	line-heightS:1.6;
	/*color:#0d0d0c;*/
	
}
/*intro*/
*, *:after,*:before{
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}
.container{
	width:100%;
	max-width:2600px;
	height:60vh;
	margin: 0 auto;
	background: url(d12d35ae1ebc70bae05f22c76ca442c3.jpg) center no-repeat;
	/*-webkit-background-size:cover;*/
	background-size:cover;
	-webkit-background-size:cover;
	/*position:absolute;*/
	/*position:relative;
	top:20px;*/
	margin-bottom:200px;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	/*margin-left: 0;*/
}